{{> header}}

<h1 id="home-title">Welcome, {{user.name}}</h1>

<a id="add-task-link" href="/tasks/add">Add New Task</a>

<form id="task-filter-form" method="GET" action="/home">
    <label for="search"> Search tasks: </label>
    <input type="text" id="search" name="search" placeholder="Filter tasks" value="{{search}}" />

    <label for="status">Filter by status:</label>
    <select id="status" name="status">
        <option value="">All</option>
        {{#each statuses}}
            <option value="{{this}}" {{#if (eq this ../status)}}selected{{/if}}>{{this}}</option>
        {{/each}}
    </select>

    <label for="due_date">Filter by due date: </label>
    <input type="date" id="due_date" name="due_date" value="{{due_date}}" >

    <input type="submit" value="Filter">
</form>

{{> taskTable}}
